.nav {
    .my-container {
        align-items: center;
        flex-wrap: wrap;
        .logo {
            flex-grow: 2;
            img {
                width: 50px;
            }
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
    
            li {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin: 0 1em 0 1em;
    
                a {
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 800;
                    font-size: 1em;
                    line-height: 80px;
                    color: black;
                    border-bottom: 0.4em solid transparent;
    
                    &.active, &:hover {
                        color: $lightblue;
                        border-bottom: 0.4em solid $lightblue;
                    }

                    i {
                        color: $lightblue;
                        vertical-align: text-top;
                        padding-left: 1em;
                    }
                }
                
                input {
                    border: 0;
                    border-bottom: 1px solid black;
                    outline: none;
                    max-width: 100px;
                    &::-webkit-input-placeholder {
                        position: absolute;
                        right: 20%;
                        color: black;
                    }
                    &:focus::-webkit-input-placeholder, &:focus + i {
                        color:transparent;
                    }
                }

                i {
                    position: relative;
                    right: 13%;
                    font-size: 0.9em;
                }
                
            }
        }
    }

    

    
}