main.home {
    .content-section {
        background-color: black;
        position: relative;
        padding: 80px 0;
        .my-container {
            align-items: center;
            .title {
                position: absolute;
                top: -3%;
                background-color: $lightblue;
                color: white;
                padding: 0.7em 1.3em;
                h1 {
                    font-size: 1.3em;
                    margin: 0;
                }
            }
            .thumbs {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2.4em;
                .thumb {
                    flex-basis: calc(100% / 6 - 2.4em);
                    .image-box {
                        width: 100%;
                        max-height: 200px;
                        overflow: hidden;
                        margin-bottom: 1em;
                        img {
                            width: 100%;
                        }
                    }
                    .thumb-title {
                        color: white;
                        text-transform: uppercase;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .product-section {
        background-color: $lightblue;

        .my-container {
            justify-content: space-between;
            color: white;
            padding: 50px;   
            .item {
                display: flex;
                align-items: center;
                flex-grow: 1;
                cursor: pointer;
                img {
                    max-width: 60px;
                    max-height: 60px;
                    margin-right: 0.5em;
                }
        
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

main.comic {
    .comic_info {
        padding-top: 2em;
        padding-bottom: 7em;
    }
    .divider_blue {
        background-color: $lightblue;
        width: 100%;
        height: 70px;
        .cover {
            border: 1px solid white;
            position: relative;
            top: -350%;
            left: 15%;
            width: 192px;
            height: 291px;
            span {
                background-color: $cian;
                color: white;
                position: absolute;
                left: 0;
                &:first-of-type {
                    top: 0;
                    padding: 4px;
                }
                &:last-child {
                    padding: 5px;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    div[class*="col"]{
        display: flex;
    }
    
    .info_section {
        .info {
            margin-right: 3em;

            h1 {
                text-transform: uppercase;
                font-size: 2em;
            }

            .price {
                width: 100%;
                background-color: #55ba59;
                color: #bafd9c;
                font-weight: bold;
                margin: 1em 0;

                .left_side {
                    flex-basis: 75%;
                    justify-content: space-between;
                    border: 1px solid rgba(41, 41, 41, 0.801);
                    padding: 20px;
                }

                .right_side {
                    flex-basis: 25%;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid rgba(41, 41, 41, 0.801);
                }
            }

            .description {
                color: grey;
                font-weight: bold;
                line-height: 2em;
                font-size: 1em;
            }
        }
    }
    
    .adv {
        flex-direction: column;
        align-items: flex-end;
    }

    .details {
        background-color: #f6f6f6;
        & > .my-container { 
            padding-bottom: 7em;
        }
        .divider-bt {
            border-bottom: 1px solid grey;
        }

        div[class*="col"]{
            flex-direction: column;
            .paragraph {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                span>a {
                    font-size: 0.9em;
                    line-height: 0.9em;
                }
            }
        }
        
        .navigation {
            border-top: 1px solid gray;
            .my-container {
                justify-content: space-between;
                color: #d8d8d8; 
                border-left: 1px solid gray;
                border-right: 1px solid gray;
                .item {
                    padding: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    cursor: pointer;
                    &:not(.item:last-child) {  
                        border-right: 1px solid gray;
                    }
                    img {
                        max-width: 60px;
                        max-height: 60px;
                        margin-right: 0.5em;
                    }
            
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
        
    }
}